# Dépendances
node_modules/
client/node_modules/
server/node_modules/

# Fichiers d'environnement
.env
.env.*
!*.example

# Builds / dist
dist/
build/
client/dist/
server/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Cache
.cache/
.parcel-cache/
.vite/

# Tests / coverage
coverage/

# PM2
pids/
*.pid
*.seed

#autres
server/public/audio/temp/
/trash